<div class="hero" style="background-image: url('/images/{{ site.background_image }}');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
      {% include custom/welcome.html %}
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
      {{ site.background_title }}{% if site.background_author %}, by {% endif %}{% if site.background_link %}<a href="{{ site.background_link }}" target="_blank">{% endif %}{{ site.background_author }}</a> <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en" target="_blank" class="licence"><small>(by-nc-nd)</small></a>
    </p>
  </div>
</div>
