---
layout: page
title: "Homepage"
date: 2013-10-27 17:25
comments: true
show_title: false
sidebar: false
hero_unit: true
is_homepage: true
---

<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-cogs"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_left.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-cloud"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_middle.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-bar-chart"></i>
          </span>
        </div>
		 
        <div class="grid__item one-whole lap-two-thirds">
         {% include custom/grid_item_right.html %}
        </div>
      </div>
    </div>
  </div>
</div>
